[submodule "third_party/riscv-opcodes"]
	path = third_party/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes
[submodule "third_party/orfs"]
	path = third_party/orfs
	url = https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts
[submodule "third_party/riscv-isa-sim"]
	path = third_party/riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
[submodule "third_party/riscv-tests"]
	path = third_party/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests
[submodule "third_party/coremark"]
	path = third_party/coremark
	url = https://github.com/eembc/coremark.git
[submodule "third_party/FreeRTOS-Kernel"]
	path = third_party/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
